*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #EFEFEE;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar{
    padding:20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 3px 6px #323232;
}
.navbar ul{
    flex:1;
    display: flex;
    list-style-type: none;
    gap: 10px;
}
.navbar ul li a{
 color: #909090;
 text-decoration: none;
}
.navbar ul li.active a{
    color: #666;
}
.navbar .brand{
    flex:1;
    text-align: center;
    font-family: fantasy;
    font-weight: normal;
    color: #303030;
}
.navbar .brand span{
    color: #909090;
}
.navbar .social{
    flex:1;
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}
.navbar .menu_toggle{
    display: none;
}
.wrapper{
    padding:20px 100px;
    
}
.person{
    font-family: fantasy;
    font-weight: normal;
    text-align: center; 
    font-size: 45px;
    color: #303030;
}
.hero{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.3%;
    padding-top: 80px;
}
.services{
    width: 350px;
}
.services h2{
    font-family: fantasy;
    font-weight: normal;
    padding: 20px 0;
    color: #303030;
}
.services .items{
    margin-bottom: 15px;
}
.services .title{
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 15px;
}
.services .title span img{
    width: 40px;
}
.services .title span{
    background-color: #fff;
    padding: 5px;
}
.services .items p{
    width: 200px;
    color: #909090;
}

.image{
    width: 350px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image div{
    padding: 30px;
}
.image span{
    border-top: 1px solid #909090;
    border-left: 1px solid #909090;
    border-right: 1px solid #909090;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: relative;
}
.image img{
    width: 400px;
}
.image span::before{
    content: '';
    position: absolute;
    top :2.5%;
    left: 2.5%;
    z-index: -1;
    width: 95%;
    height: 97.5%;
    background-color: #CAC6BB;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.description{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.description h2{
    font-family: fantasy;
    font-weight: normal;
    padding: 20px 0;
    width: 350px;
    color: #303030;
}
.description p{
    width: 350px;
    color: #909090;
}
.description .hire{
    padding: 10px 35px;
    background-color: #303030;
    color: #fff;
    margin: 20px 0;
    cursor: pointer;
    border: 0;
    width: 150px;
}
.numbers{
    display: flex;
    justify-content: flex-start;
}
.numbers div{
    width: 100px;
}
@media (max-width:960px) {
    .navbar{
        padding:20px 50px;
    }
    .navbar .social{
        display: none;
    }
    .wrapper{
        padding:20px 50px;
    }
    
}
@media (max-width:650px){
    .navbar ul{
        position: absolute;
        left: 0;
        top: -100%;
        flex-direction: column;
        background-color: #fff;width: 100%;
        overflow: hidden;
        transition: .5s ease-in-out; 
    }
    .navbar .menu_toggle{
        display: block;
        border:0;
        cursor: pointer;
    }
    .navbar .menu_toggle img{
        width: 24px;
    }
    .navbar ul li{
        text-align: center;
    }
    .navbar .brand{
        text-align: left;
    }
}